@import '../../scss/variables';

.offer-detail {
  &__name {
    margin: 24px 0;
  }

  &__title {
    font-size: $font-xxl;
    font-weight: 500;
    margin: 70px 0 16px 0px;
    color: $color-green-900;
    text-align: center;
  }

  &__location {
    font-size: $font-xl;
    font-weight: 600;
    text-align: center;
  }

  &__images {
    margin-bottom: 24px;
    
    .grid-images {  display: grid;
      grid-template-columns: 1fr 1fr 1fr;
      grid-template-rows: 1fr 1fr 1fr;
      gap: 12px;
      grid-auto-flow: row;
      grid-template-areas:
        "image-1 image-2 image-3"
        "featured featured image-4"
        "featured featured image-5";
    }
    
    .featured { grid-area: featured; }
    
    .image-1 { grid-area: image-1;  height: 200px; }
    
    .image-2 { grid-area: image-2;  height: 200px; }
    
    .image-3 { grid-area: image-3; height: 200px; }
    
    .image-4 { grid-area: image-4; height: 200px; }
    
    .image-5 { grid-area: image-5;  height: 200px;}
    
  }

  &__image {
    border-radius: $border-radius-16;
    background-size: cover;
    background-repeat: no-repeat;
  }



  .offer-widget {
    background-color: $color-white;
    border: 1px solid $color-gray-200;
    border-radius: $border-radius-8;
    padding: 32px;
    margin-bottom: 32px;

  
    &__amenities {
      margin-bottom: 16px;
    }

    .offer-detail {
      &__ameneties-item {
        margin-bottom: 3px;
      }
    }
  }

  &__sidebar {
    margin-right: 32px;
  }

  &__button {
    margin-bottom: 24px;
  }
}

@media (max-width: 768px) {
  .offer-detail {
    margin: 0 32px;
    &__container {
      flex-direction: column-reverse;
    }

    &__images-top {
      .w-col-33 {
        width: 33% !important;
      }
    }

    &__calendar {
      .rdrCalendarWrapper {
        width: 100% !important;
      }

      .rdrMonth  {
        width: 100%;
      }
    }
  }
}
