@import "../../scss/variables";

.dashboard__sidebar {
  margin: 32px;
  background-color: $color-white;
  border: 1px solid $color-gray-200;
  border-radius: $border-radius-8;
  padding: 32px;
  color: $color-green-600;
  font-size: $font-xl;
}

.offers, .users {

  &__container {
    margin: 32px;
    background-color: $color-white;
    border: 1px solid $color-gray-200;
    border-radius: $border-radius-8;
    padding: 32px;
  }

  &__title {
    font-size: $font-xxl;
    font-weight: 500;
    margin-bottom: 56px;
  }

  
}