@import "../../scss/variables";

.offers {
  margin: 100px;

  &__card {

  }

  &__title {
    font-size: $font-xxl;
    font-weight: 500;
    margin: 70px 0 16px 0px;
    color: $color-green-900;
    text-align: center;
  }
}