@import "../../scss/variables";

.offers {


  &__title {
    margin-top: 24px;
    color: $color-green-900;
    text-align: center;
  }
}

@media (max-width: 768px) {
  .offers {

    &__list {
      flex-wrap: wrap;
    }

    &__card {
      width: 100%;
    }
  }
}