
//Black and White
$color-black: #000;
$color-white: #ffffff;


// Red
$color-red-50:  #ff8c91;
$color-red-100: #ff8287;
$color-red-200: #ff787d;
$color-red-300: #ff6e73;
$color-red-400: #ff6469;
$color-red-500: #ff5a5f;
$color-red-600: #f55055;
$color-red-700: #eb464b;
$color-red-800: #e13c41;
$color-red-900: #d73237;


//Green
$color-green-50:  #32d8cb;
$color-green-100: #28cec1;
$color-green-200: #1ec4b7;
$color-green-300: #14baad;
$color-green-400: #0ab0a3;
$color-green-500: #00a699;
$color-green-600: #009c8f;
$color-green-700: #009285;
$color-green-800: #00887b;
$color-green-900: #007e71;


//Orange
$color-orange-50:  #ff965f;
$color-orange-100: #ff8c55;
$color-orange-200: #ff824b;
$color-orange-300: #ff7841;
$color-orange-400: #ff6e37;
$color-orange-500: #fc642d;
$color-orange-600: #f25a23;
$color-orange-700: #e85019;
$color-orange-800: #de460f;
$color-orange-900: #d43c05;


//Gray
$color-gray-50: #9da4b2;
$color-gray-100: #939aa8;
$color-gray-200: #89909e;
$color-gray-300: #7f8694;
$color-gray-400: #757c8a;
$color-gray-500: #6b7280;
$color-gray-600: #616876;
$color-gray-700: #575e6c;
$color-gray-800: #4d5462;
$color-gray-900: #434a58;

//Font sizes
$font-xs: 10px;
$font-sm: 12px;
$font-base: 14px;
$font-lg: 16px;
$font-xl: 20px;
$font-xxl: 32px;


//Box Shadow
$shadow-sm: 0 1px 2px 0 rgb(0 0 0 / 0.05);
$shadow: 0 1px 3px 0 rgb(0 0 0 / 0.1), 0 1px 2px -1px rgb(0 0 0 / 0.1);
$shadow-md: 0 4px 6px -1px rgb(0 0 0 / 0.1), 0 2px 4px -2px rgb(0 0 0 / 0.1);
$shadow-lg: 0 10px 15px -3px rgb(0 0 0 / 0.1), 0 4px 6px -4px rgb(0 0 0 / 0.1);
$shadow-xl: 0 20px 25px -5px rgb(0 0 0 / 0.1), 0 8px 10px -6px rgb(0 0 0 / 0.1);
$shadow-2xl: 0 25px 50px -12px rgb(0 0 0 / 0.25);
$shadow-inner: inset 0 2px 4px 0 rgb(0 0 0 / 0.05);
$shadow-none: 0 0 #0000;