@import "../../scss/variables";

.legal {
  
  margin: 32px;
  padding: 32px;
 

  & h1 {
    font-weight: 600;
    font-size: $font-xxl;
    margin-bottom: 2rem;
    text-align: center;
    color: $color-orange-500;
  }

  & h2 {
    font-weight: 600;
    font-size: $font-xl;
    margin-top: 32px;
    color: $color-green-400;
  }

  & p {
    line-height: 2;
  }
}