@import "../../scss/variables";


.forgot-password { 

  &__title {
    font-size: $font-xxl;
    font-weight: 600;
    margin: 70px 0 16px 0px;
  }

  &__description {

    font-size: $font-base;
    color: $color-gray-200;
    margin-top: 8px;
    margin-bottom: 32px;
  }

  &__image {
    height: 100vh;
    background-color: $color-green-700;
    padding: 32px;
    svg {
      width: 100%;
    }
  }
}



