.flex {
  display: flex;
}

.flex-row {
  flex-direction: row;
}

.flex-col {
  flex-direction: column;
}

.justify-center {
  justify-content: center;
}

.justify-between {
  justify-content: space-between;
}

.justify-evenly {
  justify-content: space-evenly;
}

.justify-end {
  justify-content: end;
}

.items-center {
  align-items: center;
}

.w-col-10 {
  width: 10%;
}

.w-col-20 {
  width: 20%;
}

.w-col-30 {
  width: 30%;
}

.w-col-40 {
  width: 40%;
}

.w-col-50 {
  width: 50%;
}

.w-col-60 {
  width: 60%;
}

.w-col-70 {
  width: 70%;
}

.w-col-80 {
  width: 80%;
}

.w-col-90 {
  width: 90%;
}

.w-col-100 {
  width: 100%;
}

.h-col-50 {
  height: 50%;
}