@import "../../scss/variables";

.footer{
  background-color: $color-white;
  width: 100%;
  font-size: $font-lg;
  padding: 8px;
  border-top: 1px solid $color-gray-50;

  &--transparent {
    background-color: transparent;
    border-top: none;
  }
  
}