@import "../../scss/variables";

.profile {

  &__container {
    margin: 32px 0;
    background-color: $color-white;
    border: 1px solid $color-gray-200;
    border-radius: $border-radius-8;
    padding: 32px;
  }

  &__form {
    margin: 24px 0;
  }

  &__alert {
    margin: 24px 0 ;
  }
}